.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('projectNong\src\assets\BG_หน้าเข้าสู่ระบบ.png');
    background-size: cover;
}

.border {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-center {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
